In [ ]:
print(type("10"))

In [ ]:
correct variable
123abc
_abc
Name
True

In [ ]:
valid string
b='abc'
b='123'
b=[abc]

In [ ]:
print(bool(1), bool(-8), bool(1.67), bool(False)) # Any number in bool() returns True, except 0.

In [ ]:
Code
var1=5
var2=____(var1)
print(var2)

Output: 5.0

In [ ]:
Variables and Data Types
Choose the correct Python code according to the following steps:

Take a number input from a user and assign it to x.
Take another number input from the user and assign it to y.
Store the values of x and y in new variables a and b respectively with the data type changed to float.
Update the value of a with the difference between a and b.
Print the value of a.
a-=b

In [ ]:
Which of these pairs has operators with the same precedence level?
Multiplication and division
Division and subtraction
Addition and multiplication
Addition and division

In [ ]:
print(2**3+(2+2)**(2+1))   #72

In [1]:
10%55

10

In [ ]:
print(4%100,4//100,4/100) 
#% is the remainder operator, // is integer type division and / is float type division.

In [ ]:
#which operator should we use
3**(5?4) = 3

In [ ]:
type(3.14)

In [ ]:
What is the correct way to assign a value to a variable in Python?
1 variable = value
2 set variable = value
3 define variable as value
4 All of the above

In [ ]:
x = 5
y = x
x = 3
print(y)

In [ ]:
Write a program to calculate the area of a rectangle.
Sample input
4
5
Sample Output
20

In [ ]:
Write a Python program to take two integer inputs from the user,
change the data type to float and print the float type and integer type
division of inputs.
Sample input:
4
5

In [ ]:
x = 5
y = 2
z = 6
print(x / y + (z ** x) - y)

In [ ]:
 x / y will evaluate to 5 / 2, which is 2.5.
2. z ** x will evaluate to 6 ** 5, which is 7776.
3. 2.5 + 7776 is 7778.5.
4. Finally, 7778.5 - 2 is 7776.5.

In [ ]:
l=[10,20,30,40,50]
a=30
if a in l:
    print("present")
else:
    print("not present")

In [ ]:
list = ['alice', 'bob', 'carol']

if 'dave' not in list:
    print("User not found!")

In [ ]:
fruits = ['apple', 'banana', 'mango']

if 'banana' in fruits:
    print("Yes, banana is in the list.")

In [ ]:
#find the no which is not present in exclude
numbers = [1, 2, 3, 4, 5]
excluded = [2, 4]

for num in numbers:
    if num not in excluded:
        print(num)

identity operator

In [ ]:
#check whether  two variable refers to same object(variable) in same memory location
# it donnot matter they have same value
# is
# is not

In [ ]:
for immutable object
This does not copy the value of y into a new independent object.

Instead, it makes x reference the same object that y references.

In [14]:
x = 10
y = 20
x=y
print(x)
print(y)
print(x is y)

20
20
True

In [15]:
a="renu"
b="ritu"
a=b
print(a is b)

True

In [10]:
a="renusfhsbfjkshnfkjsghsBgjsjkghjsesfdsgsdgsd"
b="renusfhsbfjkshnfkjsghsBgjsjkghjsesfdsgsdgsd"
print(a is b)

True

In [1]:
x = 10
y = 10
print(x is y)
x=y   # share same address
print(x)
print(y)
print(id(x))
print(id(y))#Both x and y point to the same integer object 10

10
10
140724288337096
140724288337096

In [ ]:
#after modification(assign different value )
y=50
print(x)
print(y)
print(x is y)

10
10
140725353034952
140725353034952
10
50
False

In [2]:
x=50
print(x)
print(y)
print(x is y)

50
10
False

In [10]:
x = 5
y = x

x += 3  # equivalent to x = x + 3

For mutable object

In [ ]:
y = [1, 2]
x = y
print(x)
print(y)
print(id(x))
print(id(y))#Both x and y point to the same integer object 10

In [ ]:
#after modification
x.append(3)
print(x)
print(y)# x=x+3  modify in x itself
print(x is y)

[1, 2]
[1, 2]
2338483622656
2338483622656
[1, 2, 3]
[1, 2, 3]
True

In [4]:
print(id(x))
print(id(y)) # same

2158206286864
2158206286864

In [ ]:
[1, 2, 3]  (list object)
x ─────▶ [1, 2, 3]
y ─────▶ [1, 2, 3]

In [6]:
x is y

True

In [ ]:
immutable object (int,str,tuple) create a new object 
mutable object (list,dict,sets)  the object itself changes — the name doesn’t move..

In [ ]:
a=10
b=20
c=a
print(a is c)
print(a is b)

logical operator

In [ ]:
and,or,not

In [ ]:
x = 10
y = 5

# Using 'and'
if x > 5 and y < 10:
    print("Both conditions are True")

In [ ]:
# Using 'or'
if x < 5 or y < 10:
    print("At least one condition is True")

In [ ]:
# Using 'not'
if not (x < y):
    print("x is not less than y")

ASSIGNMENT OPERATOR

In [ ]:
# used to assign new object (new value) to a variable

In [ ]:
x = 10
y = 10
x=y   # share same address
print(x)
print(y)
print(id(x))
print(id(y))#Both x and y point to the same integer object 10

In [3]:
x = 5
y = x

x += 3  # equivalent to x = x + 3
print(x)  #value diff and add diff because int is immutable
print(y)

8
5

In [5]:
s = "Hello"
t = s
s += " World"  # equivalent to s = s + " World"
print(s)
print(t)
#Strings are immutable, so += creates a new string object.
#t still points to the original "Hello".

SyntaxError: unexpected character after line continuation character (1516833821.py, line 4)

In [ ]:
x = [1, 2]
y = x
x += [3, 4]  # modifies the list in place
print(x, y)

In [ ]:
a = {1, 2}
b = a
a.update({3})

In [ ]:
a is b → compares object identity (same memory address?)
a == b → compares value equality
a=b -> both a and b refer to the same object in memory

In [ ]:
x += 5   # x = 15  # x=x+5
x *= 2   # x = 20   # x=x*2
x -= 10  # x = 0   #x=x-10
x //= 4  # x = 2   # x=x//4